--CreateView--
built in class used to create model object.

Model:
class Book(models.Model):
    title = models.CharField(max_length=100)
    available = models.BooleanField(default=False)


View:
from django.views.generic.edit import CreateView
from django.urls import reverse
from app.models import Book
from app.forms import CreateForm
class BookCreateView(CreateView):
    model = Book # create object of Book
    fields = ['title', 'available'] # define required fields
    form_class = CreateForm
    success_url = reverse('home')


Url:
from django.urls import path
from app.views import BookCreateView
urlpatterns = [
    path('create/', BookCreateView.as_view(), name='book-create'),
]

Explanation: 
you don't need to explicitly check whether the form is valid or invalid.
before saving the object.
Django's CreateView handles form validation for you automatically.
If the form is valid, it will save the object to the database and then redirect to the success_url.
If the form is invalid, it will redisplay the form with validation errors.